<?xml version="1.0" encoding="utf-8"?>
<Document>
  <Engineering version="V20" />
  <SW.Blocks.GlobalDB ID="0">
    <AttributeList>
      <Access>Published</Access>
      <Interface><Sections xmlns="http://www.siemens.com/automation/Openness/SW/Interface/v5">
  <Section Name="Static">
    <Member Name="em" Datatype="&quot;LAF_typeEmConfiguration&quot;">
      <Comment>
        <MultiLanguageText Lang="en-US">Configuration of EM Parameters</MultiLanguageText>
      </Comment>
    </Member>
    <Member Name="axis" Datatype="Array[1.._.U1EM5_NO_OF_AXES] of DB_ANY">
      <Subelement Path="1">
        <Comment>
          <MultiLanguageText Lang="en-US">cmNgAndManualInputAxisY</MultiLanguageText>
        </Comment>
      </Subelement>
      <Subelement Path="2">
        <Comment>
          <MultiLanguageText Lang="en-US">cmMagazineAxisZ</MultiLanguageText>
        </Comment>
      </Subelement>
    </Member>
    <Member Name="moduleAccessPoint" Datatype="Array[1.._.U1EM5_NO_OF_AXES] of HW_SUBMODULE">
      <Subelement Path="1">
        <Comment>
          <MultiLanguageText Lang="en-US">cmNgAndManualInputAxisY</MultiLanguageText>
        </Comment>
      </Subelement>
      <Subelement Path="2">
        <Comment>
          <MultiLanguageText Lang="en-US">cmMagazineAxisZ</MultiLanguageText>
        </Comment>
      </Subelement>
    </Member>
    <Member Name="cmNgAndManualInputAxisY" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmMagazineAxisZ" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmNgAndManualInputCylinderUpDown" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmNgAndManualInputVacuum1OnOff" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmNgAndManualInputVacuum2OnOff" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmNgAndManualInputVibrator1OnOff" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmNgAndManualInputVibrator2OnOff" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmMagazineLockCylinderUpDown" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmNgAndManaulInputMagazineElectrodeDetectionSensor" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmNgAndManualInputMagazineDetectionSensor" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmNgAndManualInputMagazineFullSensor" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmNgAndManualInputElectrodeDetectionSensor" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmMagazineSafetyPinIdlePosition" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmNgAndManualInputAxisY_TorqueCal" Datatype="&quot;LER_typeServoTorqueCalConfigruation&quot;" Remanence="Retain" />
    <Member Name="cmMagazineAxisZ_TorqueCal" Datatype="&quot;LER_typeServoTorqueCalConfigruation&quot;" Remanence="Retain" />
  </Section>
</Sections></Interface>
      <MemoryReserve>100</MemoryReserve>
      <Name>Config</Name>
      <Namespace>Unit1.Em5</Namespace>
      <Number>102</Number>
      <ProgrammingLanguage>DB</ProgrammingLanguage>
    </AttributeList>
    <ObjectList>
      <MultilingualText ID="1" CompositionName="Comment">
        <ObjectList>
          <MultilingualTextItem ID="2" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="3" CompositionName="Items">
            <AttributeList>
              <Culture>en-GB</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="4" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="5" CompositionName="Items">
            <AttributeList>
              <Culture>es-ES</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="6" CompositionName="Items">
            <AttributeList>
              <Culture>fr-FR</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="7" CompositionName="Items">
            <AttributeList>
              <Culture>it-IT</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="8" CompositionName="Items">
            <AttributeList>
              <Culture>ko-KR</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="9" CompositionName="Items">
            <AttributeList>
              <Culture>zh-CN</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
      <MultilingualText ID="A" CompositionName="Title">
        <ObjectList>
          <MultilingualTextItem ID="B" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="C" CompositionName="Items">
            <AttributeList>
              <Culture>en-GB</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="D" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="E" CompositionName="Items">
            <AttributeList>
              <Culture>es-ES</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="F" CompositionName="Items">
            <AttributeList>
              <Culture>fr-FR</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="10" CompositionName="Items">
            <AttributeList>
              <Culture>it-IT</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="11" CompositionName="Items">
            <AttributeList>
              <Culture>ko-KR</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="12" CompositionName="Items">
            <AttributeList>
              <Culture>zh-CN</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
    </ObjectList>
  </SW.Blocks.GlobalDB>
</Document>