<?xml version="1.0" encoding="utf-8"?>
<Document>
  <Engineering version="V20" />
  <SW.Blocks.GlobalDB ID="0">
    <AttributeList>
      <DBAccessibleFromOPCUA>false</DBAccessibleFromOPCUA>
      <DBAccessibleFromWebserver>false</DBAccessibleFromWebserver>
      <Interface><Sections xmlns="http://www.siemens.com/automation/Openness/SW/Interface/v5">
  <Section Name="Static">
    <Member Name="diagPlc" Datatype="&quot;LAF_typePlcDiag&quot;">
      <Comment>
        <MultiLanguageText Lang="en-US">HMI interface PLC diag</MultiLanguageText>
      </Comment>
      <Sections>
        <Section Name="None">
          <Member Name="im1PlantDesignLocIdent" Datatype="String[54]">
            <StartValue>'GM BCDC'</StartValue>
          </Member>
          <Member Name="im1PlantDesignation" Datatype="String[54]">
            <StartValue>'GM BCDC'</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="checksum" Datatype="&quot;LAF_typeChecksum&quot;">
      <Comment>
        <MultiLanguageText Lang="en-US">HMI interface PLCChecksum</MultiLanguageText>
      </Comment>
    </Member>
    <Member Name="diagMemCard" Datatype="&quot;LAF_typeMemCardDiag&quot;">
      <Comment>
        <MultiLanguageText Lang="en-US">HMI interface SMCDiag</MultiLanguageText>
      </Comment>
    </Member>
    <Member Name="cycleTimes" Datatype="&quot;LSicar_typeGlobalRuntime&quot;" />
    <Member Name="setLocalPlcTime" Datatype="&quot;LAF_typeSetPlcTime&quot;" />
    <Member Name="ITConnection" Datatype="Bool">
      <Comment>
        <MultiLanguageText Lang="en-US">Provides a visual representation of the connection with the IT systems.</MultiLanguageText>
      </Comment>
      <StartValue>FALSE</StartValue>
    </Member>
  </Section>
</Sections></Interface>
      <MemoryReserve>100</MemoryReserve>
      <Name>Settings</Name>
      <Namespace />
      <Number>6</Number>
      <ProgrammingLanguage>DB</ProgrammingLanguage>
    </AttributeList>
    <ObjectList>
      <MultilingualText ID="1" CompositionName="Comment">
        <ObjectList>
          <MultilingualTextItem ID="2" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="3" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
      <MultilingualText ID="4" CompositionName="Title">
        <ObjectList>
          <MultilingualTextItem ID="5" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="6" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
    </ObjectList>
  </SW.Blocks.GlobalDB>
</Document>