<?xml version="1.0" encoding="utf-8"?>
<Document>
  <Engineering version="V20" />
  <SW.Blocks.GlobalDB ID="0">
    <AttributeList>
      <Access>Published</Access>
      <Interface><Sections xmlns="http://www.siemens.com/automation/Openness/SW/Interface/v5">
  <Section Name="Static">
    <Member Name="em" Datatype="&quot;LAF_typeEmConfiguration&quot;">
      <Comment>
        <MultiLanguageText Lang="en-US">Configuration of EM Parameters</MultiLanguageText>
      </Comment>
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="&quot;LAF_typeReferenceConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="parent" Datatype="WString[128]">
                  <StartValue>WSTRING#'U1'</StartValue>
                </Member>
                <Member Name="relative" Datatype="WString[25]">
                  <StartValue>WSTRING#'EM2'</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="axis" Datatype="Array[0.._.U1EM4_NO_OF_AXES] of DB_ANY" />
    <Member Name="cmSideTapeSafetyPin" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmSideTapeJRDetect" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmSideTapeDiameter" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmSideTapeFixStageAxisX" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'Fix Stage X-Axis'</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeFixStageAxisC" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'Fix Stage C-Axis'</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeAttachmentAxisX" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'Attachment X-Axis'</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeAttachmentAxisY" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'Attachment Y-Axis'</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeLoadingDownUp" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'S.TAPE LOADING'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeLoadingClampOpenClose" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'S.TAPE LOADING CLAMP'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeCutterBwdFwd" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'S.TAPE CUTTER'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeCutterClampBwdFwd" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'S.TAPE CUTTER CLAMP'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeTensionBwdFwd" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'S.TAPE TENSION'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeAttachmentLeftBwdFwd" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'S.TAPE ATTACH LEFT'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeAttachmentRightBwdFwd" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'S.TAPE ATTACH RIGHT'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeAttachmentBtmBwdFwd" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'S.TAPE ATTACH BTM'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeFixStageClampOpenClose" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'JR FIX STAGE CLAMP'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeAttachment1TopVaccumOffOn" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'ATTACH LEFT TOP VACUUM'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeAttachment1BtmVaccumOffOn" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'ATTACH LEFT BTM VACUUM'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeAttachment2TopVaccumOffOn" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'ATTACH RIGHT TOP VACUUM'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmSideTapeAttachment2BtmVaccumOffOn" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'ATTACH RIGHT BTM VACUUM'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmQrHandyReader" Datatype="&quot;LER_typeDM8700Configuration&quot;" />
    <Member Name="softcam" Datatype="Struct">
      <Member Name="SideTapeFixStageAxisX" Datatype="&quot;LER_typeSoftCamInterface&quot;" />
      <Member Name="SideTapeFixStageAxisC" Datatype="&quot;LER_typeSoftCamInterface&quot;" />
      <Member Name="SideTapeAttachmentAxisX" Datatype="&quot;LER_typeSoftCamInterface&quot;" />
      <Member Name="SideTapeAttachmentAxisY" Datatype="&quot;LER_typeSoftCamInterface&quot;">
        <AttributeList>
          <BooleanAttribute Name="SetPoint" SystemDefined="true">true</BooleanAttribute>
        </AttributeList>
      </Member>
    </Member>
  </Section>
</Sections></Interface>
      <MemoryReserve>100</MemoryReserve>
      <Name>Config</Name>
      <Namespace>Unit1.Em4</Namespace>
      <Number>180</Number>
      <ProgrammingLanguage>DB</ProgrammingLanguage>
    </AttributeList>
    <ObjectList>
      <MultilingualText ID="1" CompositionName="Comment">
        <ObjectList>
          <MultilingualTextItem ID="2" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="3" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
      <MultilingualText ID="4" CompositionName="Title">
        <ObjectList>
          <MultilingualTextItem ID="5" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="6" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
    </ObjectList>
  </SW.Blocks.GlobalDB>
</Document>