<?xml version="1.0" encoding="utf-8"?>
<Document>
  <Engineering version="V20" />
  <SW.Blocks.GlobalDB ID="0">
    <AttributeList>
      <Access>Published</Access>
      <Interface><Sections xmlns="http://www.siemens.com/automation/Openness/SW/Interface/v5">
  <Section Name="Static">
    <Member Name="em" Datatype="&quot;LAF_typeEmConfiguration&quot;">
      <Comment>
        <MultiLanguageText Lang="en-US">Configuration of EM Parameters</MultiLanguageText>
      </Comment>
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="&quot;LAF_typeReferenceConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="parent" Datatype="WString[128]">
                  <StartValue>WSTRING#'U1'</StartValue>
                </Member>
                <Member Name="relative" Datatype="WString[25]">
                  <StartValue>WSTRING#'EM0'</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="axis" Datatype="Array[0.._.U1EM8_JOB03] of DB_ANY" />
    <Member Name="cmHipotThicknessSafetyPin" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmHipotThicknessJRDetect" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmThicknessAxisZ" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'HI-POT &amp; THICKNESS Z-Axis'</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmHipotThicknessStageLiftFrontUpDown" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'STAGE LIFT FRONT'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmHipotThicknessStageLiftRearUpDown" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'STAGE LIFT REAR'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmHipotTabContactorBwdFwd" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'TAB CONTACTOR'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmHipotTabContactorLeftOpenClose" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'TAB CONTACTOR LEFT'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmHipotTabContactorRightOpenClose" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'TAB CONTACTOR RIGHT'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmHipotThicknessStageLiftAllUpDown" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'Stage'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmHipotThicknessServoPress" Datatype="&quot;LER_typeServoPressConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="hwID" Datatype="&quot;LER_typeServoPressHardwareID&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="220ByteIn" Datatype="HW_SUBMODULE">
                  <StartValue>661</StartValue>
                </Member>
                <Member Name="220ByteOut" Datatype="HW_SUBMODULE">
                  <StartValue>660</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmThicknessControl" Datatype="&quot;LER_typeThicknessConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="hwID" Datatype="&quot;LER_typeThicknessHardwareID&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="interfaceControllerID" Datatype="HW_SUBMODULE">
                  <StartValue>420</StartValue>
                </Member>
                <Member Name="ampID" Datatype="Array[0..3] of HW_SUBMODULE">
                  <Subelement Path="0">
                    <StartValue>421</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>422</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>423</StartValue>
                  </Subelement>
                  <Subelement Path="3">
                    <StartValue>424</StartValue>
                  </Subelement>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmHipotControl" Datatype="&quot;LER_typeHipotConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="port" Datatype="HW_SUBMODULE">
            <StartValue>1054</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="softcam" Datatype="Struct">
      <Member Name="ThicknessAxisZ" Datatype="&quot;LER_typeSoftCamInterface&quot;" />
    </Member>
  </Section>
</Sections></Interface>
      <MemoryReserve>100</MemoryReserve>
      <Name>Config</Name>
      <Namespace>Unit1.Em8</Namespace>
      <Number>83</Number>
      <ProgrammingLanguage>DB</ProgrammingLanguage>
    </AttributeList>
    <ObjectList>
      <MultilingualText ID="1" CompositionName="Comment">
        <ObjectList>
          <MultilingualTextItem ID="2" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="3" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
      <MultilingualText ID="4" CompositionName="Title">
        <ObjectList>
          <MultilingualTextItem ID="5" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="6" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
    </ObjectList>
  </SW.Blocks.GlobalDB>
</Document>