<?xml version="1.0" encoding="utf-8"?>
<Document>
  <Engineering version="V20" />
  <SW.Blocks.GlobalDB ID="0">
    <AttributeList>
      <Interface><Sections xmlns="http://www.siemens.com/automation/Openness/SW/Interface/v5">
  <Section Name="Static">
    <Member Name="unit" Datatype="&quot;LAF_typeUnitConfiguration&quot;">
      <Comment>
        <MultiLanguageText Lang="en-US">Configuration of Unit Parameters</MultiLanguageText>
      </Comment>
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="&quot;LAF_typeReferenceConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="relative" Datatype="WString[25]">
                  <StartValue>WSTRING#'U2'</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="stateMachine" Datatype="&quot;LUC_typeStateMachineConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="enableModes" Datatype="&quot;LUC_typeModeConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="noMode" Datatype="Bool">
                  <StartValue>true</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="signalStack" Datatype="&quot;LUC_typeSignalStackConfiguration&quot;" />
    <Member Name="remoteCtrlOpcUa" Datatype="&quot;LUC_typeRemoteCtrlConfiguration&quot;" />
    <Member Name="stateModeManager" Datatype="&quot;LPMLV2022_typeConfiguration&quot;">
      <AttributeList>
        <BooleanAttribute Name="ExternalAccessible" SystemDefined="true">false</BooleanAttribute>
        <BooleanAttribute Name="ExternalVisible" SystemDefined="true">false</BooleanAttribute>
        <BooleanAttribute Name="ExternalWritable" SystemDefined="true">false</BooleanAttribute>
      </AttributeList>
      <Comment>
        <MultiLanguageText Lang="en-US">Do not change. Can be configured through stateMachineConfiguration</MultiLanguageText>
      </Comment>
    </Member>
    <Member Name="cmFFU_LIU117" Datatype="&quot;LER_typeLIU117Configuration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="MB_Comm_Load" Datatype="&quot;LER_typeLIU117Configuration_MB_Comm_Load&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="PORT" Datatype="HW_SUBMODULE">
                  <StartValue>514</StartValue>
                </Member>
                <Member Name="BAUD" Datatype="UDInt">
                  <StartValue>9600</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="sleep" Datatype="&quot;LER_typeSleepModeParameter&quot;">
      <AttributeList>
        <BooleanAttribute Name="SetPoint" SystemDefined="true">true</BooleanAttribute>
      </AttributeList>
    </Member>
    <Member Name="========Communication========" Datatype="Bool" />
    <Member Name="BA030" Datatype="&quot;LER_typeCommunicationConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="SEND" Datatype="&quot;LER_typeCommunicationBSENDConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="connectionId" Datatype="CONN_PRG">
                  <StartValue>16#162</StartValue>
                </Member>
                <Member Name="rid" Datatype="CONN_R_ID">
                  <StartValue>16#16</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
          <Member Name="RCV" Datatype="&quot;LER_typeCommunicationBRCVConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="connectionId" Datatype="CONN_PRG">
                  <StartValue>16#162</StartValue>
                </Member>
                <Member Name="rid" Datatype="CONN_R_ID">
                  <StartValue>16#15</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="BA040" Datatype="&quot;LER_typeCommunicationConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="SEND" Datatype="&quot;LER_typeCommunicationBSENDConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="connectionId" Datatype="CONN_PRG">
                  <StartValue>16#172</StartValue>
                </Member>
                <Member Name="rid" Datatype="CONN_R_ID">
                  <StartValue>16#26</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
          <Member Name="RCV" Datatype="&quot;LER_typeCommunicationBRCVConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="connectionId" Datatype="CONN_PRG">
                  <StartValue>16#172</StartValue>
                </Member>
                <Member Name="rid" Datatype="CONN_R_ID">
                  <StartValue>16#25</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="BA100" Datatype="&quot;LER_typeCommunicationConfiguration&quot;">
      <AttributeList>
        <BooleanAttribute Name="SetPoint" SystemDefined="true">true</BooleanAttribute>
      </AttributeList>
      <Sections>
        <Section Name="None">
          <Member Name="SEND" Datatype="&quot;LER_typeCommunicationBSENDConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="connectionId" Datatype="CONN_PRG">
                  <StartValue>16#182</StartValue>
                </Member>
                <Member Name="rid" Datatype="CONN_R_ID">
                  <StartValue>16#31</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
          <Member Name="RCV" Datatype="&quot;LER_typeCommunicationBRCVConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="connectionId" Datatype="CONN_PRG">
                  <StartValue>16#182</StartValue>
                </Member>
                <Member Name="rid" Datatype="CONN_R_ID">
                  <StartValue>16#32</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="CoveyorA" Datatype="&quot;LER_typeCommunicationConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="SEND" Datatype="&quot;LER_typeCommunicationBSENDConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="connectionId" Datatype="CONN_PRG">
                  <StartValue>16#172</StartValue>
                </Member>
                <Member Name="rid" Datatype="CONN_R_ID">
                  <StartValue>16#26</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
          <Member Name="RCV" Datatype="&quot;LER_typeCommunicationBRCVConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="connectionId" Datatype="CONN_PRG">
                  <StartValue>16#172</StartValue>
                </Member>
                <Member Name="rid" Datatype="CONN_R_ID">
                  <StartValue>16#25</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
  </Section>
</Sections></Interface>
      <MemoryReserve>100</MemoryReserve>
      <Name>Config</Name>
      <Namespace>Unit1</Namespace>
      <Number>195</Number>
      <ProgrammingLanguage>DB</ProgrammingLanguage>
    </AttributeList>
    <ObjectList>
      <MultilingualText ID="1" CompositionName="Comment">
        <ObjectList>
          <MultilingualTextItem ID="2" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="3" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
      <MultilingualText ID="4" CompositionName="Title">
        <ObjectList>
          <MultilingualTextItem ID="5" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="6" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
    </ObjectList>
  </SW.Blocks.GlobalDB>
</Document>