<?xml version="1.0" encoding="utf-8"?>
<Document>
  <Engineering version="V20" />
  <SW.Blocks.GlobalDB ID="0">
    <AttributeList>
      <Access>Published</Access>
      <Interface><Sections xmlns="http://www.siemens.com/automation/Openness/SW/Interface/v5">
  <Section Name="Static">
    <Member Name="em" Datatype="&quot;LAF_typeEmConfiguration&quot;">
      <Comment>
        <MultiLanguageText Lang="en-US">Configuration of EM Parameters</MultiLanguageText>
      </Comment>
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="&quot;LAF_typeReferenceConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="parent" Datatype="WString[128]">
                  <StartValue>WSTRING#'U1'</StartValue>
                </Member>
                <Member Name="relative" Datatype="WString[25]">
                  <StartValue>WSTRING#'EM0'</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="axis" Datatype="Array[0.._.U1EM2_NO_OF_AXES] of DB_ANY" />
    <Member Name="cmJROutPnPLeftSafetyPin" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmJROutPnPLeftJRDetect" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmJROutPnPRightSafetyPin" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmJROutPnPRightJRDetect" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmJROutPnPLeftAxisX" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'OUT P&amp;P LEFT X-Axis'</StartValue>
          </Member>
          <Member Name="setPositions" Datatype="Array[0..15] of &quot;LBC_typeAxis64PosSetPosition&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="position" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>4273.91</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>-9.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>4273.91</StartValue>
                  </Subelement>
                  <Subelement Path="3">
                    <StartValue>4825.92</StartValue>
                  </Subelement>
                </Member>
                <Member Name="velocity" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>50.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>50.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>50.0</StartValue>
                  </Subelement>
                  <Subelement Path="3">
                    <StartValue>50.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="acceleration" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                  <Subelement Path="3">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="deceleration" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                  <Subelement Path="3">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="name" Datatype="String[32]">
                  <Subelement Path="0">
                    <StartValue>'Wait'</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>'Stack1 Load'</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>'Stack2 Load'</StartValue>
                  </Subelement>
                  <Subelement Path="3">
                    <StartValue>'Unload'</StartValue>
                  </Subelement>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmJROutPnPLeftAxisZ" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'OUT P&amp;P LEFT Z-Axis'</StartValue>
          </Member>
          <Member Name="setPositions" Datatype="Array[0..15] of &quot;LBC_typeAxis64PosSetPosition&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="position" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>0.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>356.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>356.0</StartValue>
                  </Subelement>
                  <Subelement Path="3">
                    <StartValue>329.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="velocity" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>10.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>10.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>10.0</StartValue>
                  </Subelement>
                  <Subelement Path="3">
                    <StartValue>10.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="acceleration" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                  <Subelement Path="3">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="deceleration" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                  <Subelement Path="3">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="name" Datatype="String[32]">
                  <Subelement Path="0">
                    <StartValue>'Wait'</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>'Stack1 Load'</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>'Stack2 Load'</StartValue>
                  </Subelement>
                  <Subelement Path="3">
                    <StartValue>'Unload'</StartValue>
                  </Subelement>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmJROutPnPRightAxisX" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'OUT P&amp;P RIGHT X-Axis'</StartValue>
          </Member>
          <Member Name="setPositions" Datatype="Array[0..15] of &quot;LBC_typeAxis64PosSetPosition&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="position" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>600.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>1277.8</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>5.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="velocity" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>50.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>50.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>50.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="acceleration" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="deceleration" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>500.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="name" Datatype="String[32]">
                  <Subelement Path="0">
                    <StartValue>'Wait'</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>'Load'</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>'Unload'</StartValue>
                  </Subelement>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmJROutPnPRightAxisZ" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'OUT P&amp;P RIGHT Z-Axis'</StartValue>
          </Member>
          <Member Name="setPositions" Datatype="Array[0..15] of &quot;LBC_typeAxis64PosSetPosition&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="position" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>16.86</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>16.86</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>480.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="velocity" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>10.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>10.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>10.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="acceleration" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="deceleration" Datatype="LReal">
                  <Subelement Path="0">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>100.0</StartValue>
                  </Subelement>
                </Member>
                <Member Name="name" Datatype="String[32]">
                  <Subelement Path="0">
                    <StartValue>'Wait'</StartValue>
                  </Subelement>
                  <Subelement Path="1">
                    <StartValue>'Load'</StartValue>
                  </Subelement>
                  <Subelement Path="2">
                    <StartValue>'Unload'</StartValue>
                  </Subelement>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmJROutPnPLeftClampOpenClose" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'OUT P&amp;P LEFT GRIPPER'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmJROutPnPRightClampOpenClose" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'OUT P&amp;P RIGHT GRIPPER'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmPowerMeter" Datatype="&quot;LER_typePAC3220Configuration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="Basic type 3_HW_ID" Datatype="HW_SUBMODULE">
            <StartValue>306</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="softcam" Datatype="Struct">
      <Member Name="JROutPnPLeftAxisX" Datatype="&quot;LER_typeSoftCamInterface&quot;" />
      <Member Name="JROutPnPLeftAxisZ" Datatype="&quot;LER_typeSoftCamInterface&quot;" />
      <Member Name="JROutPnPRightAxisX" Datatype="&quot;LER_typeSoftCamInterface&quot;" />
      <Member Name="JROutPnPRightAxisZ" Datatype="&quot;LER_typeSoftCamInterface&quot;">
        <AttributeList>
          <BooleanAttribute Name="SetPoint" SystemDefined="true">true</BooleanAttribute>
        </AttributeList>
      </Member>
    </Member>
  </Section>
</Sections></Interface>
      <MemoryReserve>100</MemoryReserve>
      <Name>Config</Name>
      <Namespace>Unit1.Em2</Namespace>
      <Number>20</Number>
      <ProgrammingLanguage>DB</ProgrammingLanguage>
    </AttributeList>
    <ObjectList>
      <MultilingualText ID="1" CompositionName="Comment">
        <ObjectList>
          <MultilingualTextItem ID="2" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="3" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
      <MultilingualText ID="4" CompositionName="Title">
        <ObjectList>
          <MultilingualTextItem ID="5" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="6" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
    </ObjectList>
  </SW.Blocks.GlobalDB>
</Document>