<?xml version="1.0" encoding="utf-8"?>
<Document>
  <Engineering version="V20" />
  <SW.Blocks.GlobalDB ID="0">
    <AttributeList>
      <Interface><Sections xmlns="http://www.siemens.com/automation/Openness/SW/Interface/v5">
  <Section Name="Static">
    <Member Name="em" Datatype="&quot;LAF_typeEmConfiguration&quot;">
      <Comment>
        <MultiLanguageText Lang="en-US">Configuration of EM Parameters</MultiLanguageText>
      </Comment>
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="&quot;LAF_typeReferenceConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="parent" Datatype="WString[128]">
                  <StartValue>WSTRING#'U1'</StartValue>
                </Member>
                <Member Name="relative" Datatype="WString[25]">
                  <StartValue>WSTRING#'EM0'</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmStackNgBoxDetect" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmStackNgBoxFullDetect" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmStackNgBoxLoadingUpDown" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'NG CLAMP Z-Axis'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmStackNgBoxUnitMoverBwdFwd" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'NG CLAMP UNIT MOVER'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmStackNgBoxClampLeftOpenClose" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'NG CLAMP LEFT'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmStackNgBoxClampRightOpenClose" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'NG CLAMP RIGHT'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmStackNgBoxClampMoverOpenClose" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'NG CLAMP MOVER'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmStackNgBoxLiftDownUp" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'NG BOX LIFT'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmStackNgBoxLockDownUp" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'NG BOX LOCK'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
  </Section>
</Sections></Interface>
      <MemoryReserve>100</MemoryReserve>
      <Name>Config</Name>
      <Namespace>Unit1.Em12</Namespace>
      <Number>116</Number>
      <ProgrammingLanguage>DB</ProgrammingLanguage>
    </AttributeList>
    <ObjectList>
      <MultilingualText ID="1" CompositionName="Comment">
        <ObjectList>
          <MultilingualTextItem ID="2" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="3" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
      <MultilingualText ID="4" CompositionName="Title">
        <ObjectList>
          <MultilingualTextItem ID="5" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="6" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
    </ObjectList>
  </SW.Blocks.GlobalDB>
</Document>