<?xml version="1.0" encoding="utf-8"?>
<Document>
  <Engineering version="V20" />
  <SW.Blocks.GlobalDB ID="0">
    <AttributeList>
      <Access>Published</Access>
      <Interface><Sections xmlns="http://www.siemens.com/automation/Openness/SW/Interface/v5">
  <Section Name="Static">
    <Member Name="em" Datatype="&quot;LAF_typeEmConfiguration&quot;">
      <Comment>
        <MultiLanguageText Lang="en-US">Configuration of EM Parameters</MultiLanguageText>
      </Comment>
    </Member>
    <Member Name="axis" Datatype="Array[1.._.U1EM6_NO_OF_AXES] of DB_ANY">
      <Subelement Path="1">
        <Comment>
          <MultiLanguageText Lang="en-US">cmVisionUnitAxisZ</MultiLanguageText>
        </Comment>
      </Subelement>
    </Member>
    <Member Name="cam" Datatype="Array[1.._.U1EM6_NO_OF_AXES] of DB_ANY">
      <Subelement Path="1">
        <Comment>
          <MultiLanguageText Lang="en-US">cmVisionUnitAxisZ</MultiLanguageText>
        </Comment>
      </Subelement>
    </Member>
    <Member Name="outputCam" Datatype="Array[1.._.U1EM6_NO_OF_AXES] of DB_ANY" />
    <Member Name="moduleAccessPoint" Datatype="Array[1.._.U1EM6_NO_OF_AXES] of HW_SUBMODULE">
      <Subelement Path="1">
        <Comment>
          <MultiLanguageText Lang="en-US">cmVisionUnitAxisZ</MultiLanguageText>
        </Comment>
      </Subelement>
    </Member>
    <Member Name="cmVisionUnitAxisZ" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmVisionPusherSupportUpDown" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmVisionTriggerSensor" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmVisionController" Datatype="&quot;LER_typeVisionConfiguration&quot;" Remanence="Retain" />
    <Member Name="cmQrReader" Datatype="&quot;LER_typeSRX300Configuration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="hwID" Datatype="&quot;LER_typeSRX300HardwareID&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="handshakeGeneralErrorStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>538</StartValue>
                </Member>
                <Member Name="busyStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>537</StartValue>
                </Member>
                <Member Name="completionStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>536</StartValue>
                </Member>
                <Member Name="errorStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>535</StartValue>
                </Member>
                <Member Name="terminalStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>534</StartValue>
                </Member>
                <Member Name="unstableReadStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>533</StartValue>
                </Member>
                <Member Name="matchingAndGradeStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>532</StartValue>
                </Member>
                <Member Name="operationResultStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>531</StartValue>
                </Member>
                <Member Name="readDataHeaderHwId" Datatype="HW_SUBMODULE">
                  <StartValue>530</StartValue>
                </Member>
                <Member Name="readDataExtendedPart1HwId" Datatype="HW_SUBMODULE">
                  <StartValue>530</StartValue>
                </Member>
                <Member Name="readDataExtendedPart2HwId" Datatype="HW_SUBMODULE">
                  <StartValue>530</StartValue>
                </Member>
                <Member Name="readDataExtendedPart3HwId" Datatype="HW_SUBMODULE">
                  <StartValue>530</StartValue>
                </Member>
                <Member Name="latchErrorClearControlHwId" Datatype="HW_SUBMODULE">
                  <StartValue>529</StartValue>
                </Member>
                <Member Name="operationInstructionControlHwId" Datatype="HW_SUBMODULE">
                  <StartValue>528</StartValue>
                </Member>
                <Member Name="completionClearControlHwId" Datatype="HW_SUBMODULE">
                  <StartValue>484</StartValue>
                </Member>
                <Member Name="parameterBankNumberHwId" Datatype="HW_SUBMODULE">
                  <StartValue>483</StartValue>
                </Member>
                <Member Name="userDataHwId" Datatype="HW_SUBMODULE">
                  <StartValue>482</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmQrReaderHandy" Datatype="&quot;LER_typeDM8700Configuration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="hwID" Datatype="&quot;LER_typeDM8700HardwareID&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="Acquisition_Status_HW_ID" Datatype="HW_SUBMODULE">
                  <StartValue>1</StartValue>
                </Member>
                <Member Name="Results_Status_HW_ID" Datatype="HW_SUBMODULE">
                  <StartValue>1</StartValue>
                </Member>
                <Member Name="Soft_Event_Status_HW_ID" Datatype="HW_SUBMODULE">
                  <StartValue>1</StartValue>
                </Member>
                <Member Name="Result_Data_HW_ID" Datatype="HW_SUBMODULE">
                  <StartValue>1</StartValue>
                </Member>
                <Member Name="Acquisition_Control_HW_ID" Datatype="HW_SUBMODULE">
                  <StartValue>1</StartValue>
                </Member>
                <Member Name="Results_Control_HW_ID" Datatype="HW_SUBMODULE">
                  <StartValue>1</StartValue>
                </Member>
                <Member Name="Soft_Event_Control_HW_ID" Datatype="HW_SUBMODULE">
                  <StartValue>1</StartValue>
                </Member>
                <Member Name="User_Data_HW_ID" Datatype="HW_SUBMODULE">
                  <StartValue>1</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
          <Member Name="disableAlarms" Datatype="Bool">
            <StartValue>True</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmVisionUnitAxisZ_TorqueCal" Datatype="&quot;LER_typeServoTorqueCalConfigruation&quot;" Remanence="Retain" />
  </Section>
</Sections></Interface>
      <MemoryReserve>100</MemoryReserve>
      <Name>Config</Name>
      <Namespace>Unit1.Em6</Namespace>
      <Number>106</Number>
      <ProgrammingLanguage>DB</ProgrammingLanguage>
    </AttributeList>
    <ObjectList>
      <MultilingualText ID="1" CompositionName="Comment">
        <ObjectList>
          <MultilingualTextItem ID="2" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="3" CompositionName="Items">
            <AttributeList>
              <Culture>en-GB</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="4" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="5" CompositionName="Items">
            <AttributeList>
              <Culture>es-ES</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="6" CompositionName="Items">
            <AttributeList>
              <Culture>fr-FR</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="7" CompositionName="Items">
            <AttributeList>
              <Culture>it-IT</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="8" CompositionName="Items">
            <AttributeList>
              <Culture>ko-KR</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="9" CompositionName="Items">
            <AttributeList>
              <Culture>zh-CN</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
      <MultilingualText ID="A" CompositionName="Title">
        <ObjectList>
          <MultilingualTextItem ID="B" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="C" CompositionName="Items">
            <AttributeList>
              <Culture>en-GB</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="D" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="E" CompositionName="Items">
            <AttributeList>
              <Culture>es-ES</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="F" CompositionName="Items">
            <AttributeList>
              <Culture>fr-FR</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="10" CompositionName="Items">
            <AttributeList>
              <Culture>it-IT</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="11" CompositionName="Items">
            <AttributeList>
              <Culture>ko-KR</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="12" CompositionName="Items">
            <AttributeList>
              <Culture>zh-CN</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
    </ObjectList>
  </SW.Blocks.GlobalDB>
</Document>