<?xml version="1.0" encoding="utf-8"?>
<Document>
  <Engineering version="V20" />
  <SW.Blocks.GlobalDB ID="0">
    <AttributeList>
      <Interface><Sections xmlns="http://www.siemens.com/automation/Openness/SW/Interface/v5">
  <Section Name="Static">
    <Member Name="em" Datatype="&quot;LAF_typeEmConfiguration&quot;">
      <Comment>
        <MultiLanguageText Lang="en-US">Configuration of EM Parameters</MultiLanguageText>
      </Comment>
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="&quot;LAF_typeReferenceConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="parent" Datatype="WString[128]">
                  <StartValue>WSTRING#'U1'</StartValue>
                </Member>
                <Member Name="relative" Datatype="WString[25]">
                  <StartValue>WSTRING#'EM0'</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmLaserMarkJRDetect" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmLaserMarkStageLiftUpDown" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'MARKING STAGE LIFT'</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmLaserMarkCoverUpDown" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'LASER MARKING COVER'</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmLaserMarkControl" Datatype="&quot;LER_typeLaserMarkConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="hwID" Datatype="&quot;LER_typeLaserMarkHardwareID&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="machineStatusID" Datatype="HW_SUBMODULE">
                  <StartValue>363</StartValue>
                </Member>
                <Member Name="functionStatusID" Datatype="HW_SUBMODULE">
                  <StartValue>364</StartValue>
                </Member>
                <Member Name="completionStatusID" Datatype="HW_SUBMODULE">
                  <StartValue>365</StartValue>
                </Member>
                <Member Name="errorStatusID" Datatype="HW_SUBMODULE">
                  <StartValue>366</StartValue>
                </Member>
                <Member Name="errorCodesID" Datatype="HW_SUBMODULE">
                  <StartValue>367</StartValue>
                </Member>
                <Member Name="operateParameterID" Datatype="HW_SUBMODULE">
                  <StartValue>368</StartValue>
                </Member>
                <Member Name="2DCReadResultID" Datatype="HW_SUBMODULE">
                  <StartValue>369</StartValue>
                </Member>
                <Member Name="countResultDataID" Datatype="HW_SUBMODULE">
                  <StartValue>370</StartValue>
                </Member>
                <Member Name="resultDataID" Datatype="HW_SUBMODULE">
                  <StartValue>371</StartValue>
                </Member>
                <Member Name="generalRequestID" Datatype="HW_SUBMODULE">
                  <StartValue>372</StartValue>
                </Member>
                <Member Name="functionRequestID" Datatype="HW_SUBMODULE">
                  <StartValue>373</StartValue>
                </Member>
                <Member Name="requestCompletionClearID" Datatype="HW_SUBMODULE">
                  <StartValue>374</StartValue>
                </Member>
                <Member Name="requestParameterID" Datatype="HW_SUBMODULE">
                  <StartValue>375</StartValue>
                </Member>
                <Member Name="requestDataID" Datatype="HW_SUBMODULE">
                  <StartValue>376</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmQrFixReaderControl" Datatype="&quot;LER_typeSRX300Configuration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="hwID" Datatype="&quot;LER_typeSRX300HardwareID&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="handshakeGeneralErrorStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>1007</StartValue>
                </Member>
                <Member Name="busyStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>1006</StartValue>
                </Member>
                <Member Name="completionStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>1005</StartValue>
                </Member>
                <Member Name="errorStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>1004</StartValue>
                </Member>
                <Member Name="terminalStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>1003</StartValue>
                </Member>
                <Member Name="unstableReadStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>1002</StartValue>
                </Member>
                <Member Name="matchingAndGradeStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>1001</StartValue>
                </Member>
                <Member Name="operationResultStatusHwId" Datatype="HW_SUBMODULE">
                  <StartValue>1000</StartValue>
                </Member>
                <Member Name="readDataHeaderHwId" Datatype="HW_SUBMODULE">
                  <StartValue>999</StartValue>
                </Member>
                <Member Name="readDataExtendedPart1HwId" Datatype="HW_SUBMODULE">
                  <StartValue>999</StartValue>
                </Member>
                <Member Name="readDataExtendedPart2HwId" Datatype="HW_SUBMODULE">
                  <StartValue>999</StartValue>
                </Member>
                <Member Name="readDataExtendedPart3HwId" Datatype="HW_SUBMODULE">
                  <StartValue>999</StartValue>
                </Member>
                <Member Name="latchErrorClearControlHwId" Datatype="HW_SUBMODULE">
                  <StartValue>998</StartValue>
                </Member>
                <Member Name="operationInstructionControlHwId" Datatype="HW_SUBMODULE">
                  <StartValue>997</StartValue>
                </Member>
                <Member Name="completionClearControlHwId" Datatype="HW_SUBMODULE">
                  <StartValue>996</StartValue>
                </Member>
                <Member Name="parameterBankNumberHwId" Datatype="HW_SUBMODULE">
                  <StartValue>995</StartValue>
                </Member>
                <Member Name="userDataHwId" Datatype="HW_SUBMODULE">
                  <StartValue>994</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
          <Member Name="triggertime" Datatype="Time">
            <StartValue>T#100ms</StartValue>
          </Member>
          <Member Name="cycleTime" Datatype="Time">
            <StartValue>T#1000ms</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
  </Section>
</Sections></Interface>
      <MemoryReserve>100</MemoryReserve>
      <Name>Config</Name>
      <Namespace>Unit1.Em10</Namespace>
      <Number>100</Number>
      <ProgrammingLanguage>DB</ProgrammingLanguage>
    </AttributeList>
    <ObjectList>
      <MultilingualText ID="1" CompositionName="Comment">
        <ObjectList>
          <MultilingualTextItem ID="2" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="3" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
      <MultilingualText ID="4" CompositionName="Title">
        <ObjectList>
          <MultilingualTextItem ID="5" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="6" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
    </ObjectList>
  </SW.Blocks.GlobalDB>
</Document>