<?xml version="1.0" encoding="utf-8"?>
<Document>
  <Engineering version="V20" />
  <SW.Blocks.GlobalDB ID="0">
    <AttributeList>
      <Interface><Sections xmlns="http://www.siemens.com/automation/Openness/SW/Interface/v5">
  <Section Name="Static">
    <Member Name="em" Datatype="&quot;LAF_typeEmConfiguration&quot;">
      <Comment>
        <MultiLanguageText Lang="en-US">Configuration of EM Parameters</MultiLanguageText>
      </Comment>
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="&quot;LAF_typeReferenceConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="parent" Datatype="WString[128]">
                  <StartValue>WSTRING#'U1'</StartValue>
                </Member>
                <Member Name="relative" Datatype="WString[25]">
                  <StartValue>WSTRING#'EM0'</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmVisionJRDetect" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmVisionStageLiftUpDown" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'FINAL VISION STAGE LIFT'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmVisionLightUpDown" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'FINAL VISION LIGHT'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmVisionControl" Datatype="&quot;LER_typeVisionConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="hwID" Datatype="&quot;LER_typeVisionHardwareID&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="cmdResultStatusID" Datatype="HW_SUBMODULE">
                  <StartValue>1015</StartValue>
                </Member>
                <Member Name="trgReadyStatusID" Datatype="HW_SUBMODULE">
                  <StartValue>1016</StartValue>
                </Member>
                <Member Name="trgAckStatusID" Datatype="HW_SUBMODULE">
                  <StartValue>1017</StartValue>
                </Member>
                <Member Name="miscellaneousStatusID" Datatype="HW_SUBMODULE">
                  <StartValue>1018</StartValue>
                </Member>
                <Member Name="assignableStatusID" Datatype="HW_SUBMODULE">
                  <StartValue>1019</StartValue>
                </Member>
                <Member Name="resultData248ByteID_1" Datatype="HW_SUBMODULE">
                  <StartValue>1020</StartValue>
                </Member>
                <Member Name="resultData248ByteID_2" Datatype="HW_SUBMODULE">
                  <StartValue>1020</StartValue>
                </Member>
                <Member Name="resultData248ByteID_3" Datatype="HW_SUBMODULE">
                  <StartValue>1020</StartValue>
                </Member>
                <Member Name="resultData248ByteID_4" Datatype="HW_SUBMODULE">
                  <StartValue>1020</StartValue>
                </Member>
                <Member Name="resultData248ByteID_5" Datatype="HW_SUBMODULE">
                  <StartValue>1020</StartValue>
                </Member>
                <Member Name="cmdResultControlID" Datatype="HW_SUBMODULE">
                  <StartValue>1021</StartValue>
                </Member>
                <Member Name="trgControlID" Datatype="HW_SUBMODULE">
                  <StartValue>1022</StartValue>
                </Member>
                <Member Name="miscellaneousControlID" Datatype="HW_SUBMODULE">
                  <StartValue>1023</StartValue>
                </Member>
                <Member Name="reservedControlID" Datatype="HW_SUBMODULE">
                  <StartValue>1024</StartValue>
                </Member>
                <Member Name="assignableControlID" Datatype="HW_SUBMODULE">
                  <StartValue>1025</StartValue>
                </Member>
                <Member Name="parameterData248ByteID_1" Datatype="HW_SUBMODULE">
                  <StartValue>1026</StartValue>
                </Member>
                <Member Name="parameterData248ByteID_2" Datatype="HW_SUBMODULE">
                  <StartValue>258</StartValue>
                </Member>
                <Member Name="parameterData248ByteID_3" Datatype="HW_SUBMODULE">
                  <StartValue>260</StartValue>
                </Member>
                <Member Name="parameterData248ByteID_4" Datatype="HW_SUBMODULE">
                  <StartValue>261</StartValue>
                </Member>
                <Member Name="parameterData248ByteID_5" Datatype="HW_SUBMODULE">
                  <StartValue>262</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
          <Member Name="trigger1Use" Datatype="Bool">
            <StartValue>TRUE</StartValue>
          </Member>
          <Member Name="triggertime" Datatype="Time">
            <StartValue>T#500ms</StartValue>
          </Member>
          <Member Name="cycleTime" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
  </Section>
</Sections></Interface>
      <MemoryReserve>100</MemoryReserve>
      <Name>Config</Name>
      <Namespace>Unit1.Em9</Namespace>
      <Number>93</Number>
      <ProgrammingLanguage>DB</ProgrammingLanguage>
    </AttributeList>
    <ObjectList>
      <MultilingualText ID="1" CompositionName="Comment">
        <ObjectList>
          <MultilingualTextItem ID="2" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="3" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
      <MultilingualText ID="4" CompositionName="Title">
        <ObjectList>
          <MultilingualTextItem ID="5" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="6" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
    </ObjectList>
  </SW.Blocks.GlobalDB>
</Document>