<?xml version="1.0" encoding="utf-8"?>
<Document>
  <Engineering version="V20" />
  <SW.Blocks.GlobalDB ID="0">
    <AttributeList>
      <Access>Published</Access>
      <Interface><Sections xmlns="http://www.siemens.com/automation/Openness/SW/Interface/v5">
  <Section Name="Static">
    <Member Name="em" Datatype="&quot;LAF_typeEmConfiguration&quot;">
      <Comment>
        <MultiLanguageText Lang="en-US">Configuration of EM Parameters</MultiLanguageText>
      </Comment>
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="&quot;LAF_typeReferenceConfiguration&quot;">
            <Sections>
              <Section Name="None">
                <Member Name="parent" Datatype="WString[128]">
                  <StartValue>WSTRING#'U1'</StartValue>
                </Member>
                <Member Name="relative" Datatype="WString[25]">
                  <StartValue>WSTRING#'EM0'</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="axis" Datatype="Array[0.._.U1EM13_NO_OF_AXES] of DB_ANY" />
    <Member Name="cmJRUnloadingPnPSafetyPin" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmJRUnloadingPnPJRDetect" Datatype="&quot;LBC_typeDigitalSignalConfiguration&quot;" />
    <Member Name="cmJRUnloadingPnPAxisX" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'UNLOADING P&amp;P X-Axis'</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmJRUnloadingPnPAxisZ" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'UNLOADING P&amp;P Z-Axis'</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmJRUnloadingPnPAxisC" Datatype="&quot;LBC_typeAxis64PosConfiguration&quot;" Remanence="Retain">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'UNLOADING P&amp;P C-Axis'</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cmJRUnloadingPnPClampOpenClose" Datatype="&quot;LBC_typeTwoWayActuatorConfiguration&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="referenceDesignator" Datatype="WString[25]">
            <StartValue>WSTRING#'UNLOADING P&amp;P CLAMP'</StartValue>
          </Member>
          <Member Name="monitoringDiscrepancy" Datatype="Time">
            <StartValue>T#5s</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="softcam" Datatype="Struct">
      <Member Name="JRUnloadingPnPAxisX" Datatype="&quot;LER_typeSoftCamInterface&quot;" />
      <Member Name="JRUnloadingPnPAxisZ" Datatype="&quot;LER_typeSoftCamInterface&quot;" />
      <Member Name="JRUnloadingPnPAxisC" Datatype="&quot;LER_typeSoftCamInterface&quot;" />
    </Member>
  </Section>
</Sections></Interface>
      <MemoryReserve>100</MemoryReserve>
      <Name>Config</Name>
      <Namespace>Unit1.Em13</Namespace>
      <Number>135</Number>
      <ProgrammingLanguage>DB</ProgrammingLanguage>
    </AttributeList>
    <ObjectList>
      <MultilingualText ID="1" CompositionName="Comment">
        <ObjectList>
          <MultilingualTextItem ID="2" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="3" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
      <MultilingualText ID="4" CompositionName="Title">
        <ObjectList>
          <MultilingualTextItem ID="5" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="6" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
    </ObjectList>
  </SW.Blocks.GlobalDB>
</Document>