<?xml version="1.0" encoding="utf-8"?>
<Document>
  <Engineering version="V20" />
  <SW.Blocks.GlobalDB ID="0">
    <AttributeList>
      <DBAccessibleFromOPCUA>false</DBAccessibleFromOPCUA>
      <DBAccessibleFromWebserver>false</DBAccessibleFromWebserver>
      <Interface><Sections xmlns="http://www.siemens.com/automation/Openness/SW/Interface/v5">
  <Section Name="Static">
    <Member Name="diagPlc" Datatype="&quot;LAF_typePlcDiag&quot;">
      <Comment>
        <MultiLanguageText Lang="de-DE">HMI Schnittstelle PLC Diagnose</MultiLanguageText>
        <MultiLanguageText Lang="en-US">HMI interface PLC diag</MultiLanguageText>
      </Comment>
      <Sections>
        <Section Name="None">
          <Member Name="manualReadAll" Datatype="Bool">
            <StartValue>FALSE</StartValue>
          </Member>
          <Member Name="blockBusyAfterRestart" Datatype="Bool">
            <StartValue>FALSE</StartValue>
          </Member>
          <Member Name="im0Data" Datatype="IM0_Data" Version="1.0">
            <Sections>
              <Section Name="None">
                <Member Name="Manufacturer_ID" Datatype="UInt">
                  <StartValue>42</StartValue>
                </Member>
                <Member Name="Order_ID" Datatype="String[20]">
                  <StartValue>'6ES7 518-3UT10-0AB0 '</StartValue>
                </Member>
                <Member Name="Serial_Number" Datatype="String[16]">
                  <StartValue>'S C-T4A0RVHM2025'</StartValue>
                </Member>
                <Member Name="Hardware_Revision" Datatype="UInt">
                  <StartValue>1</StartValue>
                </Member>
                <Member Name="Software_Revision" Datatype="IM0_Version" Version="1.0">
                  <Sections>
                    <Section Name="None">
                      <Member Name="Type" Datatype="Char">
                        <StartValue>'V'</StartValue>
                      </Member>
                      <Member Name="Functional" Datatype="USInt">
                        <StartValue>4</StartValue>
                      </Member>
                      <Member Name="Bugfix" Datatype="USInt">
                        <StartValue>0</StartValue>
                      </Member>
                      <Member Name="Internal" Datatype="USInt">
                        <StartValue>0</StartValue>
                      </Member>
                    </Section>
                  </Sections>
                </Member>
                <Member Name="Revision_Counter" Datatype="UInt">
                  <StartValue>0</StartValue>
                </Member>
                <Member Name="Profile_ID" Datatype="UInt">
                  <StartValue>0</StartValue>
                </Member>
                <Member Name="Profile_Specific_Type" Datatype="UInt">
                  <StartValue>0</StartValue>
                </Member>
                <Member Name="IM_Version" Datatype="Word">
                  <StartValue>16#0101</StartValue>
                </Member>
                <Member Name="IM_Supported" Datatype="Word">
                  <StartValue>16#000E</StartValue>
                </Member>
              </Section>
            </Sections>
          </Member>
          <Member Name="im1PlantDesignLocIdent" Datatype="String[54]">
            <StartValue>'                                                      '</StartValue>
          </Member>
          <Member Name="im1PlantDesignation" Datatype="String[54]">
            <StartValue>'                                '</StartValue>
          </Member>
          <Member Name="im1LocIdent" Datatype="String[54]">
            <StartValue>'                      '</StartValue>
          </Member>
          <Member Name="im2InstallationDate" Datatype="String[54]">
            <StartValue>'2025-02-24 16:59'</StartValue>
          </Member>
          <Member Name="im3AdditionalInfo" Datatype="String[54]">
            <StartValue>'                                                      '</StartValue>
          </Member>
          <Member Name="addressMac" Datatype="Array[0..5] of Byte">
            <Subelement Path="0">
              <StartValue>16#30</StartValue>
            </Subelement>
            <Subelement Path="1">
              <StartValue>16#B8</StartValue>
            </Subelement>
            <Subelement Path="2">
              <StartValue>16#51</StartValue>
            </Subelement>
            <Subelement Path="3">
              <StartValue>16#66</StartValue>
            </Subelement>
            <Subelement Path="4">
              <StartValue>16#CF</StartValue>
            </Subelement>
            <Subelement Path="5">
              <StartValue>16#66</StartValue>
            </Subelement>
          </Member>
          <Member Name="addressIpV4" Datatype="Array[0..3] of USInt">
            <Subelement Path="0">
              <StartValue>192</StartValue>
            </Subelement>
            <Subelement Path="1">
              <StartValue>168</StartValue>
            </Subelement>
            <Subelement Path="2">
              <StartValue>200</StartValue>
            </Subelement>
            <Subelement Path="3">
              <StartValue>51</StartValue>
            </Subelement>
          </Member>
          <Member Name="addressSubnet" Datatype="Array[0..3] of USInt">
            <Subelement Path="0">
              <StartValue>255</StartValue>
            </Subelement>
            <Subelement Path="1">
              <StartValue>255</StartValue>
            </Subelement>
            <Subelement Path="2">
              <StartValue>255</StartValue>
            </Subelement>
            <Subelement Path="3">
              <StartValue>0</StartValue>
            </Subelement>
          </Member>
          <Member Name="im0SwRev" Datatype="String[1]">
            <StartValue>'V'</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="checksum" Datatype="&quot;LAF_typeChecksum&quot;">
      <Comment>
        <MultiLanguageText Lang="de-DE">HMI Schnittstelle PLCChecksum</MultiLanguageText>
        <MultiLanguageText Lang="en-US">HMI interface PLCChecksum</MultiLanguageText>
      </Comment>
      <Sections>
        <Section Name="None">
          <Member Name="checksumStandard" Datatype="String[16]">
            <StartValue>'E4AA23DFFDEEA866'</StartValue>
          </Member>
          <Member Name="checksumStandardOld" Datatype="String[16]">
            <StartValue>'E4AA23DFFDEEA866'</StartValue>
          </Member>
          <Member Name="checksumSafety" Datatype="String[16]">
            <StartValue>'0A6CEC4B00000000'</StartValue>
          </Member>
          <Member Name="checksumSafetyOld" Datatype="String[16]">
            <StartValue>'0A6CEC4B00000000'</StartValue>
          </Member>
          <Member Name="checksumTextlists" Datatype="String[16]">
            <StartValue>'676DC45055902179'</StartValue>
          </Member>
          <Member Name="checksumTextlistsOld" Datatype="String[16]">
            <StartValue>'676DC45055902179'</StartValue>
          </Member>
          <Member Name="dateTimeStandardModified" Datatype="Date_And_Time">
            <StartValue>DT#2026-01-06-00:09:42.545</StartValue>
          </Member>
          <Member Name="dateTimeSafetyModified" Datatype="Date_And_Time">
            <StartValue>DT#2026-01-06-00:09:42.545</StartValue>
          </Member>
          <Member Name="dateTimeTextlistModified" Datatype="Date_And_Time">
            <StartValue>DT#2026-01-06-00:09:42.545</StartValue>
          </Member>
          <Member Name="standardModified" Datatype="Bool">
            <StartValue>FALSE</StartValue>
          </Member>
          <Member Name="safetyModified" Datatype="Bool">
            <StartValue>FALSE</StartValue>
          </Member>
          <Member Name="textlistsModified" Datatype="Bool">
            <StartValue>FALSE</StartValue>
          </Member>
          <Member Name="summaryModified" Datatype="Bool">
            <StartValue>FALSE</StartValue>
          </Member>
          <Member Name="updateValuesOld" Datatype="Bool">
            <StartValue>FALSE</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="diagMemCard" Datatype="&quot;LAF_typeMemCardDiag&quot;">
      <Comment>
        <MultiLanguageText Lang="de-DE">HMI Schnittstelle SMCDiag</MultiLanguageText>
        <MultiLanguageText Lang="en-US">HMI interface SMCDiag</MultiLanguageText>
      </Comment>
      <Sections>
        <Section Name="None">
          <Member Name="alarmWarnInfo" Datatype="Byte">
            <StartValue>16#00</StartValue>
          </Member>
          <Member Name="manualUpdate" Datatype="Bool">
            <StartValue>FALSE</StartValue>
          </Member>
          <Member Name="memorySpaceKbyte" Datatype="UDInt">
            <StartValue>31151664</StartValue>
          </Member>
          <Member Name="assignedMemorySpaceKbyte" Datatype="UDInt">
            <StartValue>68208</StartValue>
          </Member>
          <Member Name="assignedMemorySpace" Datatype="UDInt">
            <StartValue>0</StartValue>
          </Member>
          <Member Name="usedLifetime" Datatype="UDInt">
            <StartValue>0</StartValue>
          </Member>
          <Member Name="paraLifetime" Datatype="UDInt">
            <StartValue>80</StartValue>
          </Member>
          <Member Name="warningFromMemorySpace" Datatype="UDInt">
            <StartValue>81</StartValue>
          </Member>
          <Member Name="alarmFromMemorySpace" Datatype="UDInt">
            <StartValue>95</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="cycleTimes" Datatype="&quot;LSicar_typeGlobalRuntime&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="prevCycle" Datatype="UInt">
            <StartValue>3</StartValue>
          </Member>
          <Member Name="reset" Datatype="Bool">
            <StartValue>FALSE</StartValue>
          </Member>
          <Member Name="maxCycle" Datatype="UInt">
            <StartValue>5</StartValue>
          </Member>
          <Member Name="minCycle" Datatype="UInt">
            <StartValue>2</StartValue>
          </Member>
          <Member Name="maxCycleRuntime" Datatype="UInt">
            <StartValue>100</StartValue>
          </Member>
          <Member Name="minCycleRuntime" Datatype="UInt">
            <StartValue>1</StartValue>
          </Member>
          <Member Name="maxCommRuntime" Datatype="Int">
            <StartValue>0</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="setLocalPlcTime" Datatype="&quot;LAF_typeSetPlcTime&quot;">
      <Sections>
        <Section Name="None">
          <Member Name="newDateAndTime" Datatype="Date_And_Time">
            <StartValue>DT#1990-01-01-00:00:00</StartValue>
          </Member>
          <Member Name="daylightSavingTime" Datatype="Bool">
            <StartValue>FALSE</StartValue>
          </Member>
          <Member Name="apply" Datatype="Bool">
            <StartValue>FALSE</StartValue>
          </Member>
        </Section>
      </Sections>
    </Member>
    <Member Name="ITConnection" Datatype="Bool">
      <Comment>
        <MultiLanguageText Lang="en-US">Provides a visual representation of the connection with the IT systems.</MultiLanguageText>
      </Comment>
      <StartValue>FALSE</StartValue>
    </Member>
  </Section>
</Sections></Interface>
      <MemoryReserve>100</MemoryReserve>
      <Name>Settings</Name>
      <Namespace />
      <Number>6</Number>
      <ProgrammingLanguage>DB</ProgrammingLanguage>
    </AttributeList>
    <ObjectList>
      <MultilingualText ID="1" CompositionName="Comment">
        <ObjectList>
          <MultilingualTextItem ID="2" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="3" CompositionName="Items">
            <AttributeList>
              <Culture>en-GB</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="4" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="5" CompositionName="Items">
            <AttributeList>
              <Culture>es-ES</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="6" CompositionName="Items">
            <AttributeList>
              <Culture>fr-FR</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="7" CompositionName="Items">
            <AttributeList>
              <Culture>it-IT</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="8" CompositionName="Items">
            <AttributeList>
              <Culture>ko-KR</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="9" CompositionName="Items">
            <AttributeList>
              <Culture>zh-CN</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
      <MultilingualText ID="A" CompositionName="Title">
        <ObjectList>
          <MultilingualTextItem ID="B" CompositionName="Items">
            <AttributeList>
              <Culture>de-DE</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="C" CompositionName="Items">
            <AttributeList>
              <Culture>en-GB</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="D" CompositionName="Items">
            <AttributeList>
              <Culture>en-US</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="E" CompositionName="Items">
            <AttributeList>
              <Culture>es-ES</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="F" CompositionName="Items">
            <AttributeList>
              <Culture>fr-FR</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="10" CompositionName="Items">
            <AttributeList>
              <Culture>it-IT</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="11" CompositionName="Items">
            <AttributeList>
              <Culture>ko-KR</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
          <MultilingualTextItem ID="12" CompositionName="Items">
            <AttributeList>
              <Culture>zh-CN</Culture>
              <Text />
            </AttributeList>
          </MultilingualTextItem>
        </ObjectList>
      </MultilingualText>
    </ObjectList>
  </SW.Blocks.GlobalDB>
</Document>